.menyu{
    background-color: #fff;
    overflow: hidden;
    &>h2{
        font-size: 40px;
        text-align: center;
        color: #a83936;
        width: 290px;
        height: 110px;
        margin: auto;

        background: url(../../../images/naqsh2.png) no-repeat center /100%
        ;

        margin-top: 15px;
        line-height: 110px;
        margin-bottom: 35px;
    }

    &>:nth-child(odd){
        flex-direction: row-reverse;
    }
}