.carousel__card {
  max-width: 580px;
  width: 95%;
  margin: auto;
  margin-top: 130px;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 50px;
  border: 1px solid #d2d2d2;

  & > img {
    margin-top: -86px;
   
  }
  &>p{
    margin-top: 35px;
    font-size: 16px;
    color: #666666;
  }
  &>h3{
    font-size: 30px;
    color: #a83936;
    margin-top: 33px;
  }
}
