.header {
  display: flex;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 16px;
  & > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    & > li {
      margin: 10px 0px;
      list-style: none;
      padding: 6px 55px;
      height: 28px;
      border-left: 1px solid #e5e5e5;
      & > a {
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        color: #c0c2b4;
        font-weight: 400;
        font-family: "El Messiri";
        text-align: center;
      }
    }

    & > li :hover {
      color: #a83936;
      text-shadow: 0 0 15px;
    }

    & > :nth-child(1) {
      border: none;
    }
  }
}
