.alice-carousel{
   overflow: hidden;
}

.alice-carousel__dots .__active{
   background-color:  #a83936 !important;

}

.alice-carousel__dots{
   margin-bottom: 20px;
}

.alice-carousel__prev-btn{
   display: none;
}

.alice-carousel__next-btn{
   display: none;
}