.oshpaz {
  background: url(../../../images/oshpaz.png);
  padding-left: 8%;
  padding-top: 160px;
  padding-bottom: 140px;

  & > .oshpaz__card {
    max-width: 670px;
    width: 95%;
    background-color: #ffffffa8;
    box-sizing: border-box;
    padding-left: 5%;
    padding-top: 90px;
    padding-bottom: 75px;
    & > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      & > h2 {
        margin-left: 30px;
        font-size: 60px;
        color: #a83936;
        font-weight: 400;
      }
    }
    
          & > p {
            font-size: 18px;
            color: #666666;
            font-family: el messiri;
            max-width: 520px;
            
          }
          &>a{
            display: block;
            color: #a83936;

            margin-top: 45px;

          }
  }
}
